<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="dicoding:email" content="alfitodimas@student.ub.ac.id">
  <meta name="description" content="Free Recipes Search Website For You">
  <meta name="theme-color" content="#1B191A" />

  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-144x144.png">

  <script src="https://kit.fontawesome.com/c34ef532b6.js" crossorigin="anonymous"></script>

  <title>EatPedia</title>
</head>

<body>
  <header class="outer-app-bar">
    <div class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>EatPedia</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/recipes">Recipe</a></li>
          <li><a href="#/favorites">Favorites</a></li>
          <li><a href="#/articles">Articles</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="mainContent"></main>
  <footer>
    <p>Copyright 2023 EatPedia. All Rights Reserved.</p>
  </footer>
</body>

</html>
