@media screen and (min-width: 414px) {
  .feature_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.75em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-align: right;
    margin: 0;
    font-size: 1em;
  }

  .section {
    padding: 40px;
  }

  .jumbotron__image-box {
    max-width: 75%;
  }

  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about__image {
    width: 50%;
  }

  .about__desc {
    width: 50%;
  }

  .about__desc h1 {
    font-size: 2em;
    text-align: right;
  }

  .about__desc p {
    font-size: 16px;
    text-align: right;
  }

  .feature_container_card h3 {
    font-size: 1em;
  }

  .feature_container_card p {
    font-size: 0.9em;
  }

  .feature_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .feature__decoration-1 {
    width: 120px;
    top: 5px;
    right: 5px;
  }

  .feature__decoration-2 {
    width: 70px;
    top: 10px;
    right: 120px;
  }

  .feature__decoration-3 {
    width: 50px;
    top: 110px;
    right: 3px;
  }

  .feature__decoration-4 {
    width: 90px;
    top: 150px;
    right: 3px;
  }

  .feature__decoration-5 {
    width: 120px;
    bottom: 15px;
    left: 10px;
  }

  .feature__decoration-6 {
    width: 70px;
    bottom: 5px;
    left: 110px;

  }

  .latest-recipe__recipe-container {
    max-width: 75%;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto 40px;
  }

  .latest-recipe__btn-selengkapnya {
    width: 25%;
  }

  .latest-recipe__decoration-1 {
    width: 75px;
    top: 5px;
    right: 5px;
  }

  .latest-recipe__decoration-2 {
    width: 60px;
    bottom: 15px;
    left: 15px;
  }

  footer p {
    font-size: 1em;
  }
}


@media screen and (min-width: 1280px) {
  .app-bar {
    max-width: 1280px;
    margin: auto;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }

  .app-bar .app-bar__navigation ul li a {
    font-size: 1.25em;
    margin-right: 16px;
  }

  .content {
    max-width: 1280px;
  }

  .section {
    padding: 48px;
  }

  .jumbotron {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
  }

  .jumbotron__desc-container {
    order: -1;
    width: 49%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }

  .jumbotron__desc-container h1 {
    font-size: 4em;
    width: 75%;
  }

  .jumbotron__desc-container p {
    font-size: 1.5em;
    margin: 0 0 24px 0;
  }

  .jumbotron__desc-container a {
    text-align: center;
    width: 30%;
  }

  .jumbotron__image-box {
    width: 49%;
  }

  .jumbotron__image-box img {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    border-radius: 24px;
  }

  .about {
    gap: 2%;
    flex-wrap: wrap;
  }

  .about__desc h1 {
    font-size: 48px;
    text-align: right;

  }

  .about__desc p {
    font-size: 1.2em;
    text-align: right;
  }

  .about__image {
    width: 48%;
  }


  .feature h1 {
    font-size: 2em;
  }

  .feature_container_card h3 {
    font-size: 1.2em;
  }

  .feature_container_card p {
    font-size: 1em;

  }

  .latest-recipe h1 {
    font-size: 2em;
    text-align: left;
  }

  .latest-recipe p {
    font-size: 1em;
    text-align: left;
  }

  .latest-recipe__recipe-container {
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
  }

  .recipe-item .recipe-item__content h3 {
    font-size: 0.8em;
  }

  .recipe-item__content__icons__icon span {
    font-size: 0.75em;
  }

  .recipe-item__content__icons__icon p {
    font-size: 0.75em;
  }

  .latest-recipe__btn-selengkapnya {
    width: 15%;
  }

  .latest-recipe__decoration-1 {
    width: 80px;
    top: 5px;
    right: 5px;
  }

  .latest-recipe__decoration-2 {
    width: 70px;
    bottom: 15px;
    left: 15px;
  }

  footer p {
    font-size: 1.25em;
  }
}